@include respond-to($breakpoint-medium) { 
   
  /**
   * layout/modules
   */

  /* affichage des éléments */
  .#{$rocssti-prefix}nomobile { display: block; }

  /* cachage des éléments inutiles ! */
  .#{$rocssti-prefix}notablet { display: none; }
  
  /* linéarisation contenus flottants/table-layout */
  .#{$rocssti-prefix}autotablet {
    float: none;
    display: block;
    width: auto;
  }
  
  /* margins */
  $list-margins-tablet: mt, mr, mb, ml, m;
  $list-margins-tablet-values: 0, 1, 2; // spécifier 2.5 si besoin

  @include margin-generator($list-margins-tablet, $list-margins-tablet-values, "#{$rocssti-prefix}ontablet-");
  
  /* paddings */
  $list-paddings-tablet: pt, pr, pb, pl, p;
  $list-paddings-tablet-values: 0, 1, 2; // spécifier 2.5 si besoin

  @include padding-generator($list-paddings-tablet, $list-paddings-tablet-values, "#{$rocssti-prefix}ontablet-");
  
  /* alignements de textes */
  .#{$rocssti-prefix}ontablet- {
    &alignleft   { text-align: left; }
    &aligncenter { text-align: center; }
    &alignright  { text-align: right; }
  }

  /**
   * adaptation structure globale (page / skip links / header / contenu principal / footer)
   */
  @include body-before ('tablet');
  
  
  /**
   * dans le contenu (contenus spécifiques aux pages)
   */

}
