/**
 * layout
 */

/* éviter les dépassements */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
svg {
  height: auto;
  max-width: 100%;
}
/* pas de reset sur embed, object et video, certains players n'aiment pas */

/* utile pour gérer les floattants */
/* contient des floats */
.#{$rocssti-prefix}mod {
  overflow: auto;
}
.#{$rocssti-prefix}mod--hidden,
.#{$rocssti-prefix}no-scroll { 
  overflow: hidden;
}

/* quelques floattants */
.#{$rocssti-prefix}left {
  float: left;
}
.#{$rocssti-prefix}right {
  float: right;
}

@if $rtl-option == true {
  /* RTL */
  [dir="rtl"] .#{$rocssti-prefix}left {
    float: right;
  }
  [dir="rtl"] .#{$rocssti-prefix}right {
    float: left;
  }

  [dir="rtl"] .#{$rocssti-prefix}clearleft {
    clear: right;
  }
  [dir="rtl"] .#{$rocssti-prefix}clearright {
    clear: left;
  }
}


/* clearer les floats */
.#{$rocssti-prefix}clear {
  clear: both;
}
@if $use-clearleft_right == true {
  .#{$rocssti-prefix}clearleft {
    clear: left;
  }
  .#{$rocssti-prefix}clearright {
    clear: right;
  }
  @if $rtl-option == true {
    /* RTL */
    [dir="rtl"] .#{$rocssti-prefix}clearleft {
      clear: right;
    }
    [dir="rtl"] .#{$rocssti-prefix}clearright {
      clear: left;
    }
  }
}
@if $use-clearhidden == true {
  .#{$rocssti-prefix}clearhidden {
    clear: both;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }
}
@if $use-clearfix == true {
  .#{$rocssti-prefix}clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/* gouttière */
.#{$rocssti-prefix}gut {
  height: 1px;
}

/* gestion du table-design en CSS */
.#{$rocssti-prefix}row {
  display: table;
  table-layout: fixed;
}
.#{$rocssti-prefix}inline-row {
  display: inline-table;
  table-layout: fixed;
}
.#{$rocssti-prefix}line {
  display: table-row;
}
.#{$rocssti-prefix}col {
  display: table-cell;
  vertical-align: top;
}
.#{$rocssti-prefix}col-noalign {
  display: table-cell;
}

/* alignements */
.#{$rocssti-prefix}aligntop    { vertical-align: top; }
.#{$rocssti-prefix}alignbottom { vertical-align: bottom; }
.#{$rocssti-prefix}alignmiddle { vertical-align: middle; }

/* block */
.#{$rocssti-prefix}bl {
  display: block;
}

/* inline-block, utile pour les grilles et pas seulement */
.#{$rocssti-prefix}inbl {
  display: inline-block;
}

/* grid = élément d'une inline-grid */
.#{$rocssti-prefix}grid {
  @extend .#{$rocssti-prefix}inbl;
  @extend .#{$rocssti-prefix}aligntop;
}

/* relative */
.#{$rocssti-prefix}relative {
  position: relative;
}

/* bloc centré */
.#{$rocssti-prefix}center {
  margin-left: auto;
  margin-right: auto;
}

/* activation de l'accélération matérielle */
.#{$rocssti-prefix}hardware-accelerated {
  @include vendor-prefix(transform, translateZ(0));
}



/* largeurs de blocks */
.#{$rocssti-prefix}w1   { width: 1%; }
.#{$rocssti-prefix}w2   { width: 2%; }
.#{$rocssti-prefix}w3   { width: 3%; }
.#{$rocssti-prefix}w5   { width: 5%; }
.#{$rocssti-prefix}w10  { width: 10%; }
.#{$rocssti-prefix}w20  { width: 20%; }
.#{$rocssti-prefix}w25  { width: 25%; }
.#{$rocssti-prefix}w30  { width: 30%; }
.#{$rocssti-prefix}w33  { width: 33.333%; }
.#{$rocssti-prefix}w40  { width: 40%; }
.#{$rocssti-prefix}w45  { width: 45%; }
.#{$rocssti-prefix}w49  { width: 49%; }
.#{$rocssti-prefix}w50  { width: 50%; }
.#{$rocssti-prefix}w60  { width: 60%; }
.#{$rocssti-prefix}w66  { width: 66.666%; }
.#{$rocssti-prefix}w70  { width: 70%; }
.#{$rocssti-prefix}w75  { width: 75%; }
.#{$rocssti-prefix}w80  { width: 80%; }
.#{$rocssti-prefix}w90  { width: 90%; }
.#{$rocssti-prefix}w100 { width: 100%; }


/* ici ajouter les largeurs en pixels */
$list-width: 500;
// ex .#{$rocssti-prefix}w500p { width: 500px; }

@each $width in $list-width {
  .#{$rocssti-prefix}w#{$width}p { width: #{$width}px; }
  }
  
/* ici ajouter les largeurs en em */
$list-width-em: 500;
// ex .#{$rocssti-prefix}w500e { width: 60em; }

@each $width in $list-width-em {
  $size_em : em($width);
  .#{$rocssti-prefix}w#{$width}e { width: $size_em; }
  }

/* ici ajouter les largeurs max en pixels */
$list-max-width: 960;

@each $max-width in $list-max-width {
  .#{$rocssti-prefix}mw#{$max-width}p { max-width: #{$max-width}px; }
  }

/* ici ajouter les largeurs max en em */
$list-max-width-em: 960;

@each $max-width in $list-max-width-em {
  $size_em : em($max-width);
  .#{$rocssti-prefix}mw#{$max-width}e { max-width: $size_em; }
  }


/* margins */

$list-margins: mt, mr, mb, ml, m;
$list-margins-values: 0, 0.5, 1, 2, 3; // spécifier 2.5 si besoin

@include margin-generator($list-margins, $list-margins-values, $rocssti-prefix);

.#{$rocssti-prefix}mtauto { margin-top: auto; }
.#{$rocssti-prefix}mrauto { margin-right: auto; }
.#{$rocssti-prefix}mbauto { margin-bottom: auto; }
.#{$rocssti-prefix}mlauto { margin-left: auto; }
.#{$rocssti-prefix}mauto  { margin: auto; }

/* paddings */

$list-paddings: pt, pr, pb, pl, p;
$list-paddings-values: 0, 1, 2; // spécifier 2.5 si besoin

@include padding-generator($list-paddings, $list-paddings-values, $rocssti-prefix);



/* spécial hr de 1px de haut */
hr {
  background-color: $color-hr;
  border: 0;
  color: $color-hr;
  height: $hr-height;
  margin: 0 0 1em;
  padding: 0;
}

/* pour cacher du texte de manière accessible… toussââââ */
.#{$rocssti-prefix}invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.#{$rocssti-prefix}nonvisible { visibility: hidden; }

.#{$rocssti-prefix}hidden, [hidden]  { display: none; } /* caché partout */
.#{$rocssti-prefix}nodesktop { display: none; } /* caché sur desktop */
/*.noprint   {} /* caché sur print */
/*.notablet  {} /* caché sur tablettes */
/*.nomobile  {} /* caché sur mobile */


/**
 * modules
 */
