/* donne envie de cliquer sur un bouton */
label,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}
button[disabled],
input[type="submit"][disabled],
input[type="button"][disabled],
input[type="reset"][disabled] {
  cursor: default;
}

/* évite un resize qui déborde */
textarea {
  resize: vertical;
}
/* supprime un bug Firefox sur button */
button::-moz-focus-inner { border: 0; padding: 0; }

label,
button,
input,
select {
  vertical-align: middle;
}

@if $use-reset-button == false {
  /** fix typo inputs **/
  input,
  select,
  textarea,
  optgroup,
  button {
    font: inherit;
  }
}
/* à adapter selon le design voulu */
input,
select,
textarea {
  border: $input-defaut-border;
  padding: .5em;
  width: $input-defaut-size;
}

/* pour les textes des champs */
.#{$rocssti-prefix}label {
  display: inline-block;
}

/* à adapter selon le design voulu */
.#{$rocssti-prefix}button {
  background: $color-bg-button;
  color: $color-txt-button;
}

/*
 * évite dimensionnement des radios, checkboxes et images
 * et un affichage différent sous IE
 */
input[type="radio"],
input[type="checkbox"],
input[type="image"] {
  background-color: transparent;
  border: 0;
  width: auto;

}

/* pour annuler la taille des inputs ou autres */
.#{$rocssti-prefix}auto {
  width: auto;
}

/* messages d'erreur ou de confirmation */
.#{$rocssti-prefix}alert,
.#{$rocssti-prefix}alert input,
.#{$rocssti-prefix}alert textarea,
.#{$rocssti-prefix}alert select {
  color: $color-alert;
  font-weight: bold;
}
/* .redborder sert à débugger uniquement */
.#{$rocssti-prefix}alert input,
.#{$rocssti-prefix}alert textarea,
.#{$rocssti-prefix}alert select,
.#{$rocssti-prefix}redborder {
  border: 1px solid $color-alert;
}
.#{$rocssti-prefix}alert img {
  border: 0;
}
/*.#{$rocssti-prefix}ok {

}*/

/*
 * peut être complété par les attributs HTML5 required
 * exemple avec une couleur, penser à ne pas uniquement transmettre l'info ainsi
 */
/*select:required:invalid,
input:required:invalid,
input:focus:invalid,
textarea:required:invalid,
textarea:focus:invalid {
  background: #fef6f6;
  -moz-box-shadow: none;
}

input:focus:required:valid,
textarea:focus:required:valid,
select:focus:required:valid {
  background: #efe;
  -moz-box-shadow: none;
}*/
