/*
 *****************************************************************
 * 1 -- reset
 *****************************************************************
 */

/* spécial HTML 5 */
article, aside, audio, canvas, datagrid, datalist, details, dialog, figure, footer, header, main, menu, nav, section, video { display: block; }
abbr, eventsource, mark, meter, time, progress, output, bb { display: inline; }

/* reset minimum */
html, body, blockquote, ul, ol, form, button { margin: 0; padding: 0; }
button { border: 0; }
p, ul, ol, dl, blockquote, pre, td, th, label, textarea {
  font-size: 1em;
  line-height: $l-h;
  margin: $l-h * 1em 0;
}

/* fix display img */
img { vertical-align: middle; }

ul, ol { padding-left: 2em; }

@if $rtl_option == true {
  /* RTL */
  [dir="rtl"] ul, 
  [dir="rtl"] ol { 
    padding-left: 0; 
    padding-right: 2em;
  }
}


/* la base correspond à 10px */
html { font-size: 62.5%; }
body {
  background: #fff;
  color: #333;
  font-family: $font-family;
  font-size: ($basefont / 10) + 0em;
  line-height: $l-h; /* à corriger si besoin est */
}
