/* here the font faces */
/*@font-face {

}*/

h1,
.h1 {
  display: block;
  @include flow-hr(26); // equiv 26px
  font-weight: normal;
}
h2,
.h2 {
  display: block;
  @include flow-hr(24); // equiv 24px
  font-weight: normal;
}
h3,
.h3 {
  display: block;
  @include flow-hr(22); // equiv 22px
  font-weight: normal;
}
h4,
.h4 {
  display: block;
  @include flow-hr(20); // equiv 20px
  font-weight: normal;
}
h5,
.h5 {
  display: block;
  @include flow-hr(18); // equiv 18px
  font-weight: normal;
}
h6,
.h6 {
  display: block;
  @include flow-hr(16); // equiv 16px
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

/* other useful classes */
.smaller {
  @include flow-other(10); // equiv 10px
}
.small {
  @include flow-other(12); // equiv 12px
}
.big {
  @include flow-other(16); // equiv 16px
}
.bigger {
  @include flow-other(18); // equiv 18px
}
.biggest {
  @include flow-other(20); // equiv 20px
}
