@include respond-to($breakpoint-medium) { 
   
  /**
   * layout/modules
   */

  /* display elements */
  .nodesktop { display: block; }

  /* hide unnecessary elements */
  .notablet { display: none; }
  
  /* linearization of floating content/table-layout */
  .autotablet {
    float: none;
    display: block;
    width: auto;
  }
  
  /* margins */
  $list-margins-tablet: mt, mr, mb, ml, m;
  $list-margins-tablet-values: 0, 1, 2; // specify 2.5 if needed

  @include margin-generator($list-margins-tablet, $list-margins-tablet-values, "ontablet-");

  /* paddings */
  $list-paddings-tablet: pt, pr, pb, pl, p;
  $list-paddings-tablet-values: 0, 1, 2; // specify 2.5 if needed

  @include padding-generator($list-paddings-tablet, $list-paddings-tablet-values, "ontablet-");

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */
  @include body-before ('tablet');
  
  /**
   * inside content (other styles for pages)
   */

}
