@include respond-to($breakpoint-small) { 

  /**
   * layout/modules
   */

  /* display elements */
  .#{$rocssti-prefix}notablet { display: block; }

  /* hide unnecessary elements */
  .#{$rocssti-prefix}nomobile { display: none; }

  /* linearization of floating content/table-layout */
  .#{$rocssti-prefix}automobile {
    float: none;
    display: block;
    width: auto;
  }
  
  /* margins */
  $list-margins-mobile: mt, mr, mb, ml, m;
  $list-margins-mobile-values: 0, 1, 2; // specify 2.5 if needed

  @include margin-generator($list-margins-mobile, $list-margins-mobile-values, "#{$rocssti-prefix}onmobile-");
  
  /* paddings */
  $list-paddings-mobile: pt, pr, pb, pl, p;
  $list-paddings-mobile-values: 0, 1, 2; // specify 2.5 if needed

  @include padding-generator($list-paddings-mobile, $list-paddings-mobile-values, "#{$rocssti-prefix}onmobile-");
  
  /* text aligns */
  .#{$rocssti-prefix}onmobile- {
    &alignleft   { text-align: left; }
    &aligncenter { text-align: center; }
    &alignright  { text-align: right; }
  }

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */
  @include body-before ('mobile');
  
  /**
   * inside content (other styles for pages)
   */

}
