@include respond-to($breakpoint-tiny) { 

  /**
   * layout/modules
   */

  /* display elements */
  /*.nomobile { display: block; }*/

  /* hide unnecessary elements */
  .notinymobile { display: none; }

  /* linearization of floating content/table-layout */
  .autotinymobile {
    float: none;
    display: block;
    width: auto;
  }
  
  /* margins */
  //$list-margins-tinymobile: mt, mr, mb, ml, m;
  //$list-margins-tinymobile-values: 0, 1, 2; // specify 2.5 if needed

  //@include margin-generator($list-margins-tinymobile, $list-margins-tinymobile-values, "ontinymobile-");

  /* paddings */
  //$list-paddings-tinymobile: pt, pr, pb, pl, p;
  //$list-paddings-tinymobile-values: 0, 1, 2; // specify 2.5 if needed

  //@include padding-generator($list-paddings-tinymobile, $list-paddings-tinymobile-values, "ontinymobile-");  

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */
  @include body-before ('tinymobile');
  
  /**
   * inside content (other styles for pages)
   */

}
