/*
 * based on conditional classes on HTML element
 *
 * to be used only if there are not to many fixes &
 * small impact on webperfs for other browsers
 *
 */

@if $use-old-ie-fallbacks == true {

  /* less than IE 9 */
  .oldies .#{$rocssti-prefix}nooldies {
    display: none;
  }
  
  .ie6 .#{$rocssti-prefix}noie6 {
    display: none;
  }
  .ie7 .#{$rocssti-prefix}noie7 {
    display: none;
  }
  .ie8 .#{$rocssti-prefix}noie8 {
    display: none;
  }
  .ie9 .#{$rocssti-prefix}noie9 {
    display: none;
  }
  
  .ie7 .#{$rocssti-prefix}col,
  .ie7 .#{$rocssti-prefix}col-noalign,
  .ie6 .#{$rocssti-prefix}col,
  .ie6 .#{$rocssti-prefix}col-noalign {
    float: left;
  }
  .ie7 .#{$rocssti-prefix}row,
  .ie6 .#{$rocssti-prefix}row {
    overflow: auto;
  }
  
  @if $rtl-option == true {
    /* RTL */
    [dir="rtl"] .ie7 .#{$rocssti-prefix}col,
    [dir="rtl"] .ie7 .#{$rocssti-prefix}col-noalign,
    [dir="rtl"] .ie6 .#{$rocssti-prefix}col,
    [dir="rtl"] .ie6 .#{$rocssti-prefix}col-noalign {
      float: right;
    }
  }

}
