/* here the font faces */
/*@font-face {
}*/

h1,
.#{$rocssti-prefix}h1 {
  display: block;
  @include flow-hr(26); // equiv 26px
  font-weight: normal;
}
h2,
.#{$rocssti-prefix}h2 {
  display: block;
  @include flow-hr(24); // equiv 24px
  font-weight: normal;
}
h3,
.#{$rocssti-prefix}h3 {
  display: block;
  @include flow-hr(22); // equiv 22px
  font-weight: normal;
}
h4,
.#{$rocssti-prefix}h4 {
  display: block;
  @include flow-hr(20); // equiv 20px
  font-weight: normal;
}
h5,
.#{$rocssti-prefix}h5 {
  display: block;
  @include flow-hr(18); // equiv 18px
  font-weight: normal;
}
h6,
.#{$rocssti-prefix}h6 {
  display: block;
  @include flow-hr(16); // equiv 16px
  font-weight: normal;
}

.#{$rocssti-prefix}uppercase {
  text-transform: uppercase;
}

/* other useful classes */
.#{$rocssti-prefix}smaller {
  @include flow-other(10); // equiv 10px
}
.#{$rocssti-prefix}small {
  @include flow-other(12); // equiv 12px
}
.#{$rocssti-prefix}big {
  @include flow-other(16); // equiv 16px
}
.#{$rocssti-prefix}bigger {
  @include flow-other(18); // equiv 18px
}
.#{$rocssti-prefix}biggest {
  @include flow-other(20); // equiv 20px
}
