/**
 * layout
 */

/* it depends, it exceeds (french joke) */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
svg {
  height: auto;
  max-width: 100%;
}
/* no reset on embed, object & video, some players don't like */

/* useful to manage floats */
/* containing floats */
.mod {
  overflow: auto;
}
.mod--hidden,
.no-scroll { 
  overflow: hidden;
}

/* some floattings */
.left {
  float: left;
}
.right {
  float: right;
}

@if $rtl-option == true {
  /* RTL */
  [dir="rtl"] .left {
    float: right;
  }
  [dir="rtl"] .right {
    float: left;
  }

  [dir="rtl"] .clearleft {
    clear: right;
  }
  [dir="rtl"] .clearright {
    clear: left;
  }
}


/* clear floats */
.clear {
  clear: both;
}
@if $use-clearleft_right == true {
  .clearleft {
    clear: left;
  }
  .clearright {
    clear: right;
  }
  @if $rtl-option == true {
    /* RTL */
    [dir="rtl"] .clearleft {
      clear: right;
    }
    [dir="rtl"] .clearright {
      clear: left;
    }
  }
}
@if $use-clearhidden == true {
  .clearhidden {
    clear: both;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }
}
@if $use-clearfix == true {
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/* gut: "spacing" empty div */
.gut {
  height: 1px;
}

/* table-design in CSS */
.row {
  display: table;
  table-layout: fixed;
}
.inline-row {
  display: inline-table;
  table-layout: fixed;
}
.line {
  display: table-row;
}
.col {
  display: table-cell;
  vertical-align: top;
}
.col-noalign {
  display: table-cell;
}

/* alignments */
.aligntop    { vertical-align: top; }
.alignbottom { vertical-align: bottom; }
.alignmiddle { vertical-align: middle; }

/* block */
.bl {
  display: block;
}

/* inline-block, useful for grids, and not only */
.inbl {
  display: inline-block;
}

/* grid = element of inline-grid */
.grid {
  @extend .inbl;
  @extend .aligntop;
}

/* to relativize */
.relative {
  position: relative;
}

/* centered block */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* hardware-acceleration activation */
.hardware-accelerated {
  @include vendor-prefix(transform, translateZ(0));
}



/* block widths */
.w1   { width: 1%; }
.w2   { width: 2%; }
.w3   { width: 3%; }
.w5   { width: 5%; }
.w10  { width: 10%; }
.w20  { width: 20%; }
.w25  { width: 25%; }
.w30  { width: 30%; }
.w33  { width: 33.333%; }
.w40  { width: 40%; }
.w45  { width: 45%; }
.w49  { width: 49%; }
.w50  { width: 50%; }
.w60  { width: 60%; }
.w66  { width: 66.666%; }
.w70  { width: 70%; }
.w75  { width: 75%; }
.w80  { width: 80%; }
.w90  { width: 90%; }
.w100 { width: 100%; }


/* here you may add px widths */
$list-width: 500;
// ex .w500p { width: 500px; }

@each $width in $list-width {
  .w#{$width}p { width: #{$width}px; }
  }

/* here you may add em widths */
$list-width-em: 500;
// ex .w500e { width: 60em; }

@each $width in $list-width-em {
  $size_em : em($width);
  .w#{$width}e { width: $size_em; }
  }

/* here you may add pixel max-widths */
$list-max-width: 960;

@each $max-width in $list-max-width {
  .mw#{$max-width}p { max-width: #{$max-width}px; }
  }

/* here you may add em max-widths */
$list-max-width-em: 960;

@each $max-width in $list-max-width-em {
  $size_em : em($max-width);
  .mw#{$max-width}e { max-width: $size_em; }
  }


/* margins */

$list-margins: mt, mr, mb, ml, m;
$list-margins-values: 0, 0.5, 1, 2, 3; // specify 2.5 if needed

@include margin-generator($list-margins, $list-margins-values);


/* paddings */

$list-paddings: pt, pr, pb, pl, p;
$list-paddings-values: 0, 1, 2; // specify 2.5 if needed

@include padding-generator($list-paddings, $list-paddings-values);



/* for 1px-high hr */
hr {
  background-color: $color-hr;
  border: 0;
  color: $color-hr;
  height: $hr-height;
  margin: 0 0 1em;
  padding: 0;
}

/* to hide text with accessibility… a11y */
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.nonvisible { visibility: hidden; }

.hidden, [hidden]  { display: none; } /* hidden everywhere */
/*.nodesktop {} /* hidden on desktop */
/*.noprint   {} /* hidden on print */
/*.notablet  {} /* hidden on tablets */
.nomobile  { display: none; } /* hidden on mobile */


/**
 * modules
 */
