@include respond-to($breakpoint-medium) {

  /**
   * layout/modules
   */

  /* display elements */
  .#{$rocssti-prefix}nomobile { display: block; }

  /* hide unnecessary elements */
  .#{$rocssti-prefix}notablet { display: none; }

  /* linearization of floating content/table-layout */
  .#{$rocssti-prefix}autotablet {
    float: none;
    display: block;
    width: auto;
  }
  
  /* margins */
  $list-margins-tablet: mt, mr, mb, ml, m;
  $list-margins-tablet-values: 0, 1, 2; // specify 2.5 if needed

  @include margin-generator($list-margins-tablet, $list-margins-tablet-values, "#{$rocssti-prefix}ontablet-");
  
  /* paddings */
  $list-paddings-tablet: pt, pr, pb, pl, p;
  $list-paddings-tablet-values: 0, 1, 2; // specify 2.5 if needed

  @include padding-generator($list-paddings-tablet, $list-paddings-tablet-values, "#{$rocssti-prefix}ontablet-");
  
  /* text aligns */
  .#{$rocssti-prefix}ontablet- {
    &alignleft   { text-align: left; }
    &aligncenter { text-align: center; }
    &alignright  { text-align: right; }
  }

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */
  @include body-before ('tablet');

  /**
   * inside content (other styles for pages)
   */

}
