@include respond-to($breakpoint-big) {

  /**
   * layout/modules
   */

  /* display elements */
  .#{$rocssti-prefix}notablet { display: block; }

  /* hide unnecessary elements */
  .#{$rocssti-prefix}nodesktop { display: none; }
  
  /* margins */
  $list-margins-desktop: mt, mr, mb, ml, m;
  $list-margins-desktop-values: 0, 1, 2; // specify 2.5 if needed

  @include margin-generator($list-margins-desktop, $list-margins-desktop-values, "#{$rocssti-prefix}ondesktop-");
  
  /* paddings */
  $list-paddings-desktop: pt, pr, pb, pl, p;
  $list-paddings-desktop-values: 0, 1, 2; // specify 2.5 if needed

  @include padding-generator($list-paddings-desktop, $list-paddings-desktop-values, "#{$rocssti-prefix}ondesktop-");
  
  /* text aligns */
  .#{$rocssti-prefix}ondesktop- {
    &alignleft   { text-align: left; }
    &aligncenter { text-align: center; }
    &alignright  { text-align: right; }
  }

  /**
   * global structure adaptation (page / skip links / header / main content / footer)
   */
  @include body-before ('desktop');


  /**
   * inside content (other styles for pages)
   */

}
